{% extends model('template') %}

{% define data = {
    fields: fields,
    submit_url: submit_url
} %}

{% block template %}
<h3>{{ 'punchout-catalog.cart.return.msg' | trans }}</h3>
<form id="punchoutCartForm"
      method="POST"
      action="{{data.submit_url}}"
      enctype="application/x-www-form-urlencoded"
      style="height: 0; width: 0; border: 0;"
>
{% if data.fields %}
    {% for field in data.fields %}
        <input type="hidden" name="{{field.name}}" value="{{field.value|raw}}" />
    {% endfor %}
{% endif %}
</form>
<script type="text/javascript">document.getElementById("punchoutCartForm").submit();</script>
{% endblock %}